<%- include('./partials/header') %>
<div class="about">
  <img src="/images/about.svg" alt="" />
  <div class="about-desc">
    <h1>ABOUT US</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta hic
      deleniti culpa dolor labore earum, accusantium, omnis ea neque quod ipsum
      assumenda placeat id eveniet quas adipisci velit! Tempora, dolores. Lorem,
      ipsum dolor sit amet consectetur adipisicing elit. Autem, quia accusamus
      distinctio perspiciatis.
    </p>
  </div>
  <div class="another-desc">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, iure
      quis? Voluptatibus cupiditate exercitationem eligendi illum maiores
      accusantium, reprehenderit odit facere sunt ex eveniet perferendis quaerat
      numquam inventore quam saepe! Lorem ipsum, dolor sit amet consectetur
      adipisicing elit. Iste, nemo. Rem tempora illum commodi voluptate nulla ea
      dicta perferendis, quo distinctio tempore laborum exercitationem
      cupiditate ullam, adipisci quod accusantium. Reprehenderit?
    </p>
  </div>
</div>
<%- include('./partials/footer') %>
