<%- include('partials/header.ejs')%>
<div class="chat-wall">
  <div class="message-board" id="message-board">
    <div class="users">
      <div class="header">
        <h1>Freinds</h1>
      </div>
      <ul class="users-list" id="user-list"></ul>
    </div>
    <div class="messages">
      <div class="header">
        <h1>Messages</h1>
      </div>
      <div class="message-wall">
        <ul class="message-list" id="message-list"></ul>
        <p id="isTyping" class="incoming isTyping">
          <strong id="user-typing"></strong>
          <br /><br />
          <span class="dot1"><i class="fas fa-circle"> </i></span>
          <span class="dot2"><i class="fas fa-circle"> </i></span>
          <span class="dot3"><i class="fas fa-circle"> </i></span>
        </p>
      </div>
      <div class="footer">
        <textarea
          id="message"
          class="message"
          placeholder="What' on Your Mind ?"
          rows="1"
        ></textarea>
        <button type="submit" class="btn submitBtn" onclick="sendMsg()">
          <i class="fas fa-chevron-right"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<script src="/socket.io/socket.io.js"></script>

<script>
  let user_nickname = "<%= nickname %>",
    user_profile = "<%= user_profile %>" || "/images/img_avatar.png";
</script>

<script src="/scripts/index.js"></script>

<%- include('partials/footer.ejs')%>
