<%- include('partials/header.ejs')%>

<div class="general" id="main">
  <div class="desc">
    <h1 class="home-head">Make Freinds ...</h1>
    <br />
    <p class="home-par">
      <strong>Let's Chat</strong> is a Simple Chatting app that let's users
      connect and chat <strong>Together</strong>. <br />
      Why don't you join our General Chat. Just click the button below and
      Interact with other <strong>Let's Chatters</strong>.
    </p>
    <br />
    <a href="/chat/general" class="button">
      Enter General Chat<i class="fas fa-chevron-right"></i>
    </a>
  </div>
  <div class="art">
    <img src="images/girl-chat-black.png" alt="" width="100%" height="100%" />
  </div>
</div>

<div class="personal" id="main">
  <h1 class="head">WANT MORE PRIVACY ???</h1>
  <div class="art">
    <img src="/images/security.svg" alt="" width="100%" height="100%" />
  </div>
  <div class="desc">
    <p class="home-par">
      Go Ahead and make a Seperate, Personalized room and invite your
      <strong>Freinds</strong> or <strong>Family</strong> and Chat in
      <strong>Privacy</strong>.
      <br />
    </p>
    <br />
    <a href="/chat/" class="button">
      Create Your Room <i class="fas fa-chevron-right"></i>
    </a>
  </div>
</div>

<%- include('partials/footer.ejs') %>
